{#def
    results: list[AudiobookWishlistResult],
    user: DetailedUser,
    counts: WishlistCounts,
    sort = "title",
    sort_dir = "asc",
#}

<WishlistLayout title="Wishlist" user={{ user }} counts={{ counts }} page="wishlist">
<div class="overflow-x-auto flex-1 min-h-0 border-b pb-2 border-b-base-200">
    <Wishlist.Wishlist results={{ results }} user={{ user }} page="wishlist" counts={{ counts }} sort={{ sort }} sort_dir={{ sort_dir }} />
</div>
</WishlistLayout>
