<svg xmlns="http://www.w3.org/2000/svg"
     viewBox="0 0 24 24"
     fill="none"
     stroke="currentColor"
     stroke-linecap="round"
     stroke-linejoin="round"
     style="--darkreader-inline-stroke: currentColor"
     data-darkreader-inline-stroke=""
     width="24"
     height="24"
     stroke-width="2">
    <path d="M12 3l9 4.5l-9 4.5l-9 -4.5z">
    </path>
    <path d="M3 12l9 4.5l9 -4.5">
    </path>
    <path d="M3 16.5l9 4.5l9 -4.5">
    </path>
</svg>
